Xft.dpi: @DOTFILES_UI_RESOLVED_XFT_DPI@
Xft.antialias: 1
Xft.autohint: 0
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault
i3wm.font_size: @DOTFILES_UI_RESOLVED_I3_FONT_SIZE@
i3wm.resize_step: @DOTFILES_UI_RESOLVED_I3_RESIZE_STEP@
